.skin-black .sidebar-menu>li.active>a {
  border-left-color: #00BFF1;
}

#columns {
   display: block;
   display: -webkit-flex;
   display: -moz-flex;
   display: flex;
   -webkit-align-items: center;
   -webkit-moz-items: center;
   align-items: center;
   -webkit-justify-content: center;
   -moz-justify-content: center;
   justify-content: center;
   -webkit-flex-direction: row;
   -moz-flex-direction: row;
   flex-direction: row;
   -webkit-flex-wrap: wrap;
   -moz-flex-wrap: wrap;
   flex-wrap: wrap;
   -webkit-flex-flow: row wrap;
   -moz-flex-flow: row wrap;
   flex-flow: row wrap;
   -webkit-align-content: flex-end;
   -moz-align-content: flex-end;
   align-content: flex-end;
}

/* .box { */
/*   -webkit-column-break-inside: avoid; */
/*   -moz-column-break-inside: avoid; */
/*   column-break-inside: avoid; */
/*   break-inside: avoid-column; */
/*   display: inline-block; */
/* } */

#columns .box {
  width: 233px;
  height: 350px;
  border-top: None;
  margin: 10px;
}

#columns .image-wrap {
  margin-left: -10px;
  margin-top: -10px;
  margin-bottom: 10px;
  width: 233px;
  height: 157px;
  overflow:hidden;
  box-sizing: border-box;

}

.fixed-height{
  height: 157px;
  vertical-align: middle;
}

.fixed-width{
  vertical-align: middle;
  width: 235px;
}

.small-box .icon-large {
  right:25px;
}

#financePlot, #friezePlot, #samplingPlot {
  /* display: block; */
  width: 100%;
  height: 1000px !important;
  /* position: relative; */
  text-align:center;
  margin-left: 0 ;
  margin-right: auto ;
  /*background-color: #FFF;*/
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 15px;
  background: rgba(34, 34, 34, 0.95);
  color: #fff;
  border-radius: 2px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: rgba(34, 34, 34, 0.95);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

/* Gradient transparent - color - transparent */
.d3-tip hr {
    border: 0;
    height: 1px;
    margin: 6px;
    background-image: -webkit-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
    background-image:    -moz-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
    background-image:     -ms-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
    background-image:      -o-linear-gradient(left, rgba(255,255,255,0), rgba(255,255,255,0.75), rgba(255,255,255,0));
}

.row {
  margin-left: 0;
  margin-right: 0;
}

#tableRow {
  height: 500px !important;
  overflow-x: scroll;
}

.content-wrapper {
  min-height: 260vh !important;
}

#financeBox {
  height: 280px !important;
}

financeDataBox {
  height: 110px !important;
}

#friezeBox {
  height: 300px !important;
}

#largeFriezeBox {
  height: 418px;
}

#largeSamplingBox {
  height: 330px;
}

#upload {
  margin-top: 20px;
}

#financeType {
  margin-top: 20px;
}

#largePlotBox {
  height: 1000px;
}

h4 {
  margin-left: 15px;
}

button {
  margin-left: 10px;
}